<body>
<div style="margin-top:80px;">
        <section class="home_banner_area mb-40">
            <div class="banner_inner d-flex align-items-center">
              <div class="container">
                <div class="banner_content row">
                  <div class="col-lg-12">
                    <h4 style="padding-bottom: 10px;">Instant, Simple, Smart...</h4>
                    <h2>Insurance for too busy lives<br>Solution for insurers</h2>
                    <a class="main_btn mt-40" [routerLink]="['/Insurance']">View Insurance</a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--================End Home Banner Area =================-->
        
          <!-- Start feature Area -->
          <section class="feature-area section_gap_bottom_custom">
            <div style="padding-top: 50px;" class="container">
              <h2 style="text-align: center;"><span>SERVICES</span></h2>
              <hr style="width: 130px;">
              <p style="margin-bottom: 20px; text-align: center;">We provide the best digital solutions</p>
              <div class="row">
                <div class="col-lg-3 col-md-6">
                  <div class="single-feature">
                    <a  class="title">
                      <i class="flaticon-money"></i>
                      <h3>FINANCIAL MARKET RISKS</h3>
                    </a>
                  </div>
                </div>
        
                <div class="col-lg-3 col-md-6">
                  <div style="padding: 41px;" class="single-feature">
                    <a  class="title">
                      <i class="fa fa-umbrella"></i>
                      <h3>EXTREME WEATHER</h3>
                    </a>
                  </div>
                </div>
        
                <div class="col-lg-3 col-md-6">
                  <div style="padding: 33px;" class="single-feature">
                    <a class="title">
                      <i class="fa fa-building"></i>
                      <h3>CAPITAL MANAGEMENT RISKS</h3>
                    </a>
                  </div>
                </div>
        
                <div class="col-lg-3 col-md-6">
                  <div style="padding: 22px;"  class="single-feature">
                    <a  class="title">
                      <i class="flaticon-blockchain"></i>
                      <h3>PROPERTY AND CASUALTY RISKS</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- End feature Area -->
        
          <!--================ Feature Product Area =================-->
          <section class="feature_product_area section_gap_bottom_custom">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-12">
                  <div class="main_title">
                    <h2><span>HOW DO WE Work</span></h2>
                    <p style="margin-bottom: 10px;">Bring called seed first of third give itself now ment</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo explicabo totam laborum magnam, ipsum mollitia delectus eos nam fuga provident vero a suscipit fugiat in alias minima architecto, labore eligendi!</p>
                  </div>
                </div>
              </div>
             
            </div>
            <button *ngIf="isShow" (click)="gotoTop()" id="button" class="btn btn-primary"><i class="fa fa-arrow-up"></i></button>
          </section>
          <!--================ End Feature Product Area =================-->
        
        
          <!--================ New Product Area =================-->
          <section style="margin-top: -70px;" class="new_product_area section_gap_top section_gap_bottom_custom">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-12">
                  <div class="main_title">
                    <h2><span>TEAM</span></h2>
                    <p>We're the best professionals in this fields</p>
                  </div>
                </div>
              </div>
        
              <div style="margin-left: 170px;" class="row">
              <div class="card">
                <img src="assets/img/matthew-collins.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                  <h6 style="margin-top: 10px;"><b>Matthew Collins</b></h6> 
                  <p>Director UK</p> 
                </div>
              </div>

              <div class="card">
                <img src="assets/img/shashi_pal-1.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                  <h6 style="margin-top: 10px;"><b>Shashi Pal</b></h6> 
                  <p>Chief Operating Officer</p> 
                </div>
              </div>

              <div class="card">
                <img src="assets/img/vikram-r-singh.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                  <h6 style="margin-top: 10px;"><b>Vikram R Singh</b></h6> 
                  <p>MD & Chief Executive Officer</p> 
                </div>
              </div>
              </div>
              
            </div>
          </section>
          <!--================ End New Product Area =================-->
      
        
          <!--================ start footer Area  =================-->
          <footer class="footer-area section_gap">
            <div class="container">
              <div class="row">

                <div class="col-lg-3 col-md-7 single-footer-widget">
                  <h4 style="margin-left: 10px;">CONTACT US</h4>
                  <table>
                    <tr>
                      <th>
                    <i class="fa fa-map-marker fa-2x" style="color: white;"></i>
                      </th>
                      <th>
                    <h6 style="color: white;">E-221,
                      Phase 8B Industrial Area, Mohali,<span style="color: white;font-weight: bold;">Punjab INDIA, 160059</span></h6>
                    </th>
                    </tr>
                   <tr>
                     <th>
                      <i class="fa fa-phone fa-2x" style="color: white;"></i>
                     </th>
                     <th>
                      <h6 style="color: white;">+91 98550 78699,+91 172 4008460</h6>
                      </th>
                   </tr>
                   <tr>
                     <th>
                      <i class="fa fa-envelope fa-2x" style="color: white;"></i>
                     </th>
                     <th>
                      <h6 style="color: white;"><a href="www.gmail.com">info@antiersolutions.com</a></h6>
                     </th>
                   </tr>
                 </table>
                </div>
               
                <div class="col-lg-4 col-md-6 single-footer-widget" style="margin-left:80px;">
                  <h4>NEWSLETTER</h4>
                  <p>You can trust us. we only send promo offers,</p>
                  <div class="form-wrap" id="mc_embed_signup">
                    <form  class="form-inline" #SubscribedForm="ngForm" (ngSubmit)="onSubmit(SubscribedForm)">
                      <input class="form-control" id="EMAIL" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''"onblur="this.placeholder = 'Your Email Address '" required="" type="email" name="EMAIL" #EMAIL="ngModel" [(ngModel)]="contactservice.selectedSubscribed.EMAIL"  autocomplete="off" required email>
                      <span *ngIf="EMAIL.invalid && (EMAIL.dirty || EMAIL.touched)">
                        </span>
                      <button class="click-btn btn btn-default" [disabled]="!SubscribedForm.valid">Subscribe</button>
                      <div style="position: absolute; left: -5000px;">
                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                      </div>
                      <div class="info"></div>
                    </form>
                  </div>
                </div>

                <div class="col-lg-3 col-md-7 single-footer-widget" style="margin-left: 80px;">
                  <h4>ABOUT</h4>
                  <table>
                    <tr>
                      <td>
                        <p>For over 10 years, Antier is helping businesses to adopt new technologies to stay ahead of change. Our rigorous research, design thinking-driven approach and unmatched solutions in strategy, consulting, technology and operations create an innovative roadmap to help enterprises worldwide transit from conventional technology platforms to blockchain-driven systems. We are driven by the aim to identify and seize opportunities from disruption to deliver transformational outcomes for a new decentralized digital world.</p>
                      </td>
                    </tr>
                  </table>
                </div>
              
              </div>

              <div class="footer-bottom row align-items-center">
                <p class="footer-text m-0 col-lg-8 col-md-12">
                &copy;Copyright 2021 Antier Solutions Pvt. Ltd. | This website is designed <i class="fa fa-heart-o" aria-hidden="true"></i> by <a>Mukul Sharma</a></p>
                <div class="col-lg-4 col-md-12 footer-social">
                  <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                  <a href="https://twitter.com/login"><i class="fa fa-twitter"></i></a>
                  <a href="https://gmail.com/"><i class="fa fa-google"></i></a>
                  <a href="https://instagram.com/"><i class="fa fa-instagram"></i></a>
                </div>
              </div>
              
            </div>
          </footer>
         
</div>
</body>
