<div style="margin-top: 89px;">
    <div class="container-fluid">
      <div class="form-gap"></div>
        <div class="login-form">
            <form #forgot="ngForm" (ngSubmit)="onSubmit(forgot)">
                <h3 style="text-align: center;"><i class="fa fa-lock fa-4x"></i></h3>
                <h2 class="text-center">RESET PASSWORD</h2>		
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-lock" style="color: black;"></i></span>
                        <input type="password"  class="form-control" name="newPass" #newPass="ngModel" ngModel   placeholder="Enter a new password" required minlength="4" maxlength="8">
                    </div>
                    <span *ngIf="newPass.invalid && (newPass.dirty || newPass.touched)">
                      <span *ngIf="newPass.errors.required">Password is Required!!</span>
                      <span *ngIf="newPass.errors.minlength">Password must be at least 4 characters long!!</span>
                      <span *ngIf="newPass.errors.maxlength">Password must be max 8 characters long!!</span></span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-link" style="color: black;"></i></span>
                        <input type="text"  class="form-control" name="resetLink" #resetLink="ngModel" ngModel placeholder="Enter a resetlink" required>
                    </div>
                    <span *ngIf="resetLink.invalid && (resetLink.dirty || resetLink.touched)">
                      <span *ngIf="resetLink.errors.required">ResetLink is Required!!</span></span>
                </div>        
                <div class="form-group">
                    <button type="submit"  class="btn btn-primary btn-block login-btn" [disabled]="!forgot.valid">UPDATE PASSWORD</button>
                </div>
                <div class="alert alert-danger" *ngIf="serverErrorMessages && server" style="text-align: center;">
                  {{serverErrorMessages}}
                </div>
                
                
            </form>
            
            </div>
        </div>
    </div>
    
    <footer class="footer-area section_gap">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-7 single-footer-widget">
            <h4 style="margin-left: 10px;">CONTACT US</h4>
            <table>
              <tr>
                <th style="padding: 10px;">
              <i class="fa fa-map-marker fa-2x" style="color: white;"></i>
                </th>
                <th style="padding: 10px;">
              <h6 style="color: white;">336-337 New Janak Puri Ambala cantt,<span style="color: white;font-weight: bold;">Haryana India</span></h6>
              </th>
              </tr>
             <tr>
               <th style="padding: 10px;">
                <i class="fa fa-phone fa-2x" style="color: white;"></i>
               </th>
               <th style="padding: 10px;">
                <h6 style="color: white;">+91-7355876362</h6>
                </th>
             </tr>
             <tr>
               <th style="padding: 10px;" >
                <i class="fa fa-envelope fa-2x" style="color: white;"></i>
               </th>
               <th style="padding: 10px;">
                <h6 style="color: white;"><a href="www.gmail.com">ms2224852@gmail.com</a></h6>
               </th>
             </tr>
           </table>
          </div>
         
          <div class="col-lg-4 col-md-6 single-footer-widget" style="margin-left:80px;">
            <h4>NEWSLETTER</h4>
            <p>You can trust us. we only send promo offers,</p>
            <div class="form-wrap" id="mc_embed_signup">
              <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                method="get" class="form-inline">
                <input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Your Email Address '" required="" type="email">
                <button class="click-btn btn btn-default">Subscribe</button>
                <div style="position: absolute; left: -5000px;">
                  <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                </div>
                <div class="info"></div>
              </form>
            </div>
          </div>

          <div class="col-lg-3 col-md-7 single-footer-widget" style="margin-left: 80px;">
            <h4>ABOUT</h4>
            <table>
              <tr>
                <td>
                  <p>Eiser is a one stop shop for all your fashion and lifestyle needs. Being India's largest e-commerce store for fashion and lifestyle products, Eiser aims at providing a hassle free and enjoyable shopping experience to shoppers across the country with the widest range of brands and products on its portal. The brand is making a conscious effort to bring the power of fashion to shoppers with an array of the latest and trendiest products available in the country.</p>
                </td>
              </tr>
            </table>
          </div>
        
        </div>

        <div class="footer-bottom row align-items-center">
          <p class="footer-text m-0 col-lg-8 col-md-12">
  Copyright &copy;All rights reserved | This website is designed <i class="fa fa-heart-o" aria-hidden="true"></i> by <a>Mukul Sharma</a></p>
          <div class="col-lg-4 col-md-12 footer-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/ms2224852"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
          </div>
        </div>
        
      </div>
    </footer>